---
import Layout from "../../layouts/Layout.astro";
import { URL } from "../../utils/helper";

const { slug } = Astro.params;
const stacksRequest = await fetch(`${URL()}/api/stacks`);
const stacks = (await stacksRequest.json()).stacks;
const stack = stacks.find((stack: string) => stack === slug);
if (!stack) return Astro.redirect("/");
---

<Layout title={slug! + " Stack"}>
  <main>
    <h1>{slug}</h1>
  </main>
</Layout>

<style>
  main {
    text-align: center;
  }
</style>
