---
import Layout from "../../layouts/Layout.astro";
import { S3Controller } from "../../server/utils";

const { slug } = Astro.params;
const stacks = await S3Controller.getStacks();
const stack = stacks.find((stack) => stack === slug);
if (!stack) return Astro.redirect("/");
---

<Layout title={slug! + " Stack"}>
  <main>
    <h1>{slug}</h1>
  </main>
</Layout>

<style>
  main {
    text-align: center;
  }
</style>
