---
interface Props {
  title: string;
}

const { title } = Astro.props;
const link = `/stack/${title}`;
---

<article><a href={link}>{title}</a></article>

<style>
  article {
    text-align: center;
  }
</style>
