---
const bucketName = import.meta.env.BUCKET;
const directory = import.meta.env.DIRECTORY;
---

<nav>
  <ul>
    <li><strong><a href="/">Pulumi S3 Self-Hosted UI</a></strong></li>
  </ul>
  <ul>
    <li>{bucketName}{directory ? `/${directory}` : ''}</li>
  </ul>
</nav>
